/* 
*
*   Set defaults
*
*/

:root {
  --main-color: #f2059f;
  --secondary-color: #f21d81;
  --accent-color: #f2778d;
  --dark-skin-tone: #f29f8d;
  --light-skin-tone: #febc93;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee";
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

article {
  background-color: white;
}

/* 
*
*   Main layout styling
*
*/

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 60px);
}

.container {
  margin: 0 2rem;
  max-width: 1200px;
  &.fluid {
	  margin: 0;
  }
}

/* 
*
*   Your matches page
*
*/

#matches {
  padding: 1rem 0;
  #match-items {
  }
  ul {
    display: flex;
    margin-top: 2rem;
    transition: .3s ease;
    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      min-width: 300px;
      margin: 0 2rem;
      &:first-child {
        margin-left: 0;
      }
      figure {
        padding: 1rem;
        .img-wrapper {
          width: 150px;
          height: 150px;
          border-radius:50%;
          overflow: hidden;
          display: flex;
          align-content: center;
          justify-content: center;
          img {
            &.profile-picture {
              height: 150px;
            }
          }
        }
        figcaption {
          text-align: center;
          margin-top: 0.5rem;
        }
      }
    }
    .hearts {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: var(--light-skin-tone);
      .like {
        margin-left: auto;
      }
      img {
        cursor: pointer;
        &:hover {
          animation: heartHover 1s ease infinite;
        }
      }
    }
  }
  .slider-nav {
    user-select: none;
	 width: 100%;
	 margin-top: 1rem;
    .wrap {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      max-width: 400px;
      margin: 0 auto;
      i.material-icons {
        max-width: 24px;
        cursor: pointer;
        color: #707070 !important;
        &.arrows {
          color: #989898 !important;
        }
        &.active {
          color: var(--accent-color) !important;
        }
      }
    }
  }
}

#viewed-matches {
  background-color: var(--secondary-color);
  padding: 3rem 0;
  margin-bottom: 60px;
  color: white;
  h2 {
    margin-bottom: 1rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    li {
      cursor: pointer;
      padding: 0.7rem;
      background-color: white;
      color: black;
      border: 1px solid var(--secondary-color);
      * {
        pointer-events: none;
      }
      figure {
        display: flex;
        align-items: center;
        img {
          margin-right: 1rem;
          border-radius: 50%;
          width: 40px;
        }
      }
    }
  }
}

/* 
*
*   Chat list page
*
*/

#chat-list {
	.chat-item a {
		text-decoration: none;
		color: #6e6e6e;
		cursor: pointer;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem;
		align-items: center;
    border: 2px solid var(--main-color);
    border-bottom: 0px;
    .last-message {
      font-size: 12px;
    }
		img {
			width: 50px;
			border-radius: 50%;
			margin-right: 1rem;
		}
		i.material-icons {
			margin-left: auto;
			max-width: 24px;
		}
  }
  .chat-item:last-child a {
    border-bottom: 2px solid var(--main-color);
  }
}

/* 
*
*   Individual chat page
*
*/

#messages {
	.container {
		max-width: 600px !important;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		height: 80vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		p {
			font-size: 14px;
			max-width: minmax(70%, 200px);
			padding: 0.7rem;
			border-radius: 10px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			margin: 0.5rem 0;
    }
    div:last-child {
      margin-bottom: 60px;
    }
    .outgoing {
      align-self: flex-end;
    }
    .incoming {
      p {
        background-color: var(--main-color);
        color: white;
      }
      align-self: flex-start;
    }
	}
	.input-field {
		position: fixed;
		bottom: 61px;
		width: 100%;
		padding: 0.5rem;
		max-width: 600px;
		margin: 0 auto;
		background-color: var(--secondary-color);
		fieldset {
			outline: 0;
			border: 0;
			input {
				width: 80%;
				padding: 0.5rem;
				border-radius: 10px;
				border: 0;
			}
			button {
				outline: none;
				border: 0;
				padding: 0.5rem;
				width: 15%;
				border-radius: 10px;
				background-color: white;
				color: var(--main-color);
			}
		}
	}
}

/* 
*
*   Media queries
*
*/

@media (min-width: 550px) {
	.container, .fluid.container {
	  margin: 0 15%;
	}
 }
 @media (min-width: 600px) {
	.input-field {
		left: 50%;
		transform: translateX(-50%);
	}
 }
@media (min-width: 768px) {
  .container, .fluid.container {
    margin: 0 20%;
  }
  #matches h1 {
    margin-top: 2rem;
  }
}
@media (min-width: 1080px) {
  #viewed-matches ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  .slider-nav {
    margin-bottom: 2rem;
  }
  .footernav-text {
    display: block !important;
  }
}

/* 
*
*   Animation keyframes
*
*/

@keyframes heartHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
