<html lang="en">

<%- include('defaults/head') %>

<body>

  <%- include('components/header') %>

  <main>
    <article>
      <section class="fluid container">
        <ul id="chat-list">
          <% for (let i=0;i < chats.length;i++) { %>
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <div>
                <p>Chat: <%= chats[i]._id %></p>
                <p class="last-message">Stuur een berichtje naar Rick!</p>
              </div>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <% } %>
        </ul>
      </section>
    </article>
  </main>

  <%- include('components/footer') %>

</body>

</html>