<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/login-as" method="post">
    <label for="user">Login as</label>
    <select name="user" id="user">
      <option value="5e6f3f5d02bf8547f8dee3ca">Yari Molenaar</option>
      <option value="5e6f45a702bf8547f8dee3d1">Julia Vormer</option>
    </select>
    <button type="submit">Login</button>
  </form>
</body>
</html>