<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      margin: 0;
    }
    .wrapper {
      padding: 2rem;
      min-height: 50vh;
    }
  </style>
</head>
<body>
  <%- include('components/header', {}); %>

  <div class="wrapper">
    <div><b>About page</b></div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Index</a></li>
    </ul>
    <% if (10 < 5) { %>
    
    <%- include('chat', {}); %>
    
    <% } %>

  </div>
  <%- include('components/footer', {}); %>

</body>
</html>
