<html>
    <head>
        <title>Real time chat</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="chat-container">
            <h1>Chat</h1>

            <div id="feedback">
                <span id="username-feedback"></span>: <span id="text-feedback"></span>
            </div>
            <div id="typing"></div>
            <input type="text" id="message">
            <button type="submit" id="send-button">Send</button>
            <input type="text" id="username">
            <button type="submit" id="change-username">Send</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="javascripts/chat.js"></script>        
    </body>
</html>