<html lang="en">
<%- include('defaults/head') %>

<body>

  <%- include('components/header') %>

  <main>
    <article>
      <section id="messages">
        <div class="container">
          <div class="incoming">
            <div class="metadata">
              <span class="author">Rick</span>
              <span class="date">15:18</span>
            </div>
            <p>Message is going to be displayed here.</p>
          </div>
          <div class="outgoing">
            <div class="metadata">
              <span class="author">You</span>
              <span class="date">15:19</span>
            </div>
            <p>Message is going to be displayed here.</p>
          </div>
          <div class="incoming">
            <div class="metadata">
              <span class="author">Rick</span>
              <span class="date">15:18</span>
            </div>
            <p>Message is going to be displayed here.</p>
          </div>
          <div class="outgoing">
            <div class="metadata">
              <span class="author">You</span>
              <span class="date">15:19</span>
            </div>
            <p>Message is going to be displayed here.</p>
          </div>
        </div>
        <form class="input-field">
          <fieldset>
            <input type="text">
            <button>Send</button>
          </fieldset>
        </form>
      </section>
    </article>
  </main>

  <%- include('components/footer') %>

</body>

</html>