<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/login-as" method="post">
    <label for="user">Login as</label>
    <select name="user" id="user">
      <% for (let i=0; i < users.length;i++) { %>
      <option value="<%= users[i]._id %>"><%= users[i].firstName + ' ' + users[i].lastName %></option>
      <% } %>
    </select>
    <button type="submit">Login</button>
  </form>
</body>
</html>