/* 
*
*   Set defaults
*
*/
:root {
  --main-color: #f2059f;
  --secondary-color: #f21d81;
  --accent-color: #f2778d;
  --dark-skin-tone: #f29f8d;
  --light-skin-tone: #febc93;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ABeeZee";
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

/* 
*
*   Main layout styling
*
*/
body {
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-color: #f2059f;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container {
  margin: 0 2rem;
}

#mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  z-index: 1000;
}

#mobile-nav nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#mobile-nav nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s;
  transition: .2s;
}

#mobile-nav nav ul li:hover, #mobile-nav nav ul li:active {
  cursor: pointer;
  background-color: var(--secondary-color);
}

#mobile-nav nav ul li:hover img, #mobile-nav nav ul li:active img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

/* 
*
*   Your matches page
*
*/
#matches {
  padding: 1rem 0;
}

#matches ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#matches ul li figure {
  padding: 1rem;
}

#matches ul li figure img.profile-picture {
  border-radius: 50%;
  width: 150px;
}

#matches ul li figure figcaption {
  text-align: center;
  margin-top: 0.5rem;
}

#matches ul .hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--light-skin-tone);
}

#matches ul .hearts .like {
  margin-left: auto;
}

#matches ul .hearts img {
  cursor: pointer;
}

#matches ul .hearts img:hover {
  -webkit-animation: heartHover 1s ease infinite;
          animation: heartHover 1s ease infinite;
}

#viewed-matches {
  background-color: var(--secondary-color);
  padding: 1rem 0;
  color: white;
}

#viewed-matches h2 {
  margin-bottom: 1rem;
}

#viewed-matches li {
  padding: 0.7rem;
  background-color: white;
  color: black;
  border: 1px solid var(--secondary-color);
}

#viewed-matches li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#viewed-matches li figure img {
  margin-right: 1rem;
  border-radius: 50%;
  width: 40px;
}

/* 
*
*   Animation keyframes
*
*/
@-webkit-keyframes heartHover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartHover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */