/* 
*
*   Set defaults
*
*/

:root {
  --main-color: #f2059f;
  --secondary-color: #f21d81;
  --accent-color: #f2778d;
  --dark-skin-tone: #f29f8d;
  --light-skin-tone: #febc93;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee";
}

/* 
*
*   Main layout styling
*
*/

body {
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 60px;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f2059f;
  color: white;
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    align-self: center;
  }
}

.container {
  margin: 0 2rem;
}

/* 
*
*   Your matches page
*
*/

#matches {
  padding: 1rem 0;
  ul {
    list-style: none;
    li {
      display: flex;
      flex-wrap: wrap;
		justify-content: center;
		margin-top: 1rem;
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
      figure {
			padding: 1rem;
        img {
          &.profile-picture {
            border-radius: 50%;
            width: 150px;
          }
		  }
		  figcaption {
			  text-align: center;
			  margin-top: 0.5rem;
		  }
      }
    }
    .hearts {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: var(--light-skin-tone);
      .like {
        margin-left: auto;
      }
    }
  }
}
