<header>
    <div class="container">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</header>

<style>
header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  background-color: #f2059f;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header h1 {
  font-size: 20px;
}
</style>