<html lang="en">

<%- include('defaults/head') %>

<body>

  <%- include('components/header') %>

  <main>
    <article>
      <section class="fluid container">
        <ul id="chat-list">
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <p>Rick Buijs, 23</p>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <p>Rick Buijs, 23</p>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <p>Rick Buijs, 23</p>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <p>Rick Buijs, 23</p>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <li class="chat-item">
            <a href="/chat">
              <img
                src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                alt="Rick Buijs">
              <p>Rick Buijs, 23</p>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
        </ul>
      </section>
    </article>
  </main>

  <%- include('components/footer') %>

</body>

</html>